<h3>{% if user.is_superuser %}<a target="_blank" title="list l id {{l.id}}" href="/admin/core/list/{{l.id}}">..</a>{% endif %}</h3>
{% ifequal l.kind "numbered" %}<ol>{% else %}<ul class="dothis">{% endifequal %}
    {% for li in l.list_items.all %}
        <li>
		{{li.text|linebreaks}}
		{% for options in li.options.all %}
		
		{% endfor %}
	

		{% if user.is_superuser %}<a target="_blank" title="list item li {{li.id}}" href="/admin/core/listitem/{{li.id}}">..</a>{% endif %}
        </li>   
    {% endfor %}
{% ifequal l.kind "numbered" %}</ol>{% else %}</ul>{% endifequal %}