<div class="image-{{image.image_align}}" style="width: {{image.get_image_dimensions|first}}px; height:{{image.get_image_dimensions|last}}px">
	<img style="{{image.image_style}}" width="{{image.get_image_dimensions|first}}" height="{{image.get_image_dimensions|last}}" src="{{image.get_image}}" />
	{% if image.label %}
	<div class="label">{{image.label}}</div>
	{% endif %}
	{% if user.is_superuser %}
	<a target="_blank" title="image {{image.id}}" href="/admin/core/image/{{image.id}}">[edit image {{image.id}}]</a>
	{% endif %}
</div>

	


